<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestion Ciclos Formativos</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body>
    <div class="container" id="list_cycles">
        <div class="row d-flex justify-content-center text-center" >
            <table class="table table-hover table-bordered border-primary table-responsive">
                <thead>
                <tr>
                    <th colspan="18" class="text-center">CICLOS FORMATIVOS</th>
                </tr>
                    <tr>
                        <th colspan="1">Codi Cycle</th>
                        <th colspan="2">Name Cycle</th>
                        <th colspan="3">Number UFS</th>
                        <th colspan="4">Total time hours</th>
                        <th colspan="5">Edit Cycle</th>
                        <th colspan="6">Delete Cycle</th>
                    </tr>
                </thead>
                <tbody>
                     <tr th:each="cycle : ${cyclesAll}">
                        <td colspan="1" th:text="${cycle.codiCycle}">Codi Cycle</td>
                        <td colspan="2" th:text="${cycle.nameCycle}">Name Cycle</td>
                        <td colspan="3" th:text="${cycle.qttUFs}">Number UFs</td>
                        <td colspan="4" th:text="${cycle.hours}">Total time hours</td>
                         <td colspan="5">
                             <a type="button" class="btn btn-outline-warning btn-lg" th:href="@{'/editcycle/' + ${cycle.codiCycle}}">Edit</a>
                         </td>
                         <td colspan="6">
                             <a type="button" class="btn btn-outline-danger btn-lg" th:href="@{'/deletecycle/' + ${cycle.codiCycle}}"><strong>X</strong> Delete</a>
                         </td>
                     </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-center text-center">
        <a type="button" class="m-3 btn btn-outline-success btn-lg " id="btn_add" th:href="@{/newcycle}">
            <svg id="i-plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <path d="M16 2 L16 30 M2 16 L30 16" />
            </svg>
            Add
        </a>
    </div>
<!-- JavaScript -->
<script
        src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>